.RandomPlanet {
  background-color: grey;
  padding: 15px;
  margin-bottom: 30px;
}
.RandomPlanet .planet_block img {
  width: 30%;
}
.RandomPlanet .planet_block .planet-infoblock {
  width: 70%;
  list-style: none;
}
.RandomPlanet .planet_block .planet-infoblock span:first-child {
  margin-right: 10px;
}
