.StarShipsDetailsInfo {
    background-color: grey;
    padding: 15px;
    height: 100%;
}

.StarShipsDetailsInfo .info_block {
    align-items: center;
    flex-direction: column;
}

.StarShipsDetailsInfo h3 {
    text-align: center;
}

.StarShipsDetailsInfo .info_block img {
    width: 50%;
    transform: scale(4);
    margin: 80px 0;
}
.StarShipsDetailsInfo .detail_infoblock {
    list-style: none;
    text-align: center;
    padding: 0;
}