.VehiclesDetailsInfo {
  background-color: grey;
  padding: 15px;
  height: 100%;
  text-align: center;
}
.VehiclesDetailsInfo h3 {
  text-align: center;
}
.VehiclesDetailsInfo .info_block {
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.VehiclesDetailsInfo .info_block img {
  width: 50%;
  transform: scale(4);
  margin: 80px 0;
}
.VehiclesDetailsInfo .detail_infoblock {
  list-style: none;
  text-align: center;
  padding: 0;
}
