.PlanetDetailsInfo {
    background-color: grey;
    padding: 15px;
    height: 100%;
}

.PlanetDetailsInfo .info_block {
    align-items: center;
    flex-direction: column;
}

.PlanetDetailsInfo h3 {
    text-align: center;
}

.PlanetDetailsInfo .info_block img {
    width: 50%;
    transform: scale(3);
    margin: 80px 0;
}
.PlanetDetailsInfo .detail_infoblock {
    list-style: none;
    text-align: center;
    padding: 0;
}