.StarShipsItemList {
  background-color: #464141;
  padding: 0px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
.StarShipsItemList li:hover {
  background-color: grey;
}
