.SpeciesDetailsInfo {
    background-color: grey;
    padding: 15px;
    height: 100%;
}

.SpeciesDetailsInfo .info_block {
    align-items: center;
    flex-direction: column;
}

.SpeciesDetailsInfo h3 {
    text-align: center;
}

.SpeciesDetailsInfo .info_block img {
    width: 50%;
    transform: scale(2);
    margin: 50px 0;
}
.SpeciesDetailsInfo .detail_infoblock {
    list-style: none;
    text-align: center;
    padding: 0;
}